header .top-bar{
    list-style-type: none !important;
    margin: 0%;
    padding: 0%;
    display: flex !important;
   

}
header .top-bar li a{
    padding: .25rem 1rem;
    color: white;
   
}
header .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}